@charset "UTF-8";
/*Font Sizes*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
/*PARA TODO*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Inicio NAV*/
.contenedor-header {
  background-color: #9b0b0c; }
  .contenedor-header #nav {
    color: #ffffff;
    font-size: 1.3rem; }
  .contenedor-header a {
    text-decoration: none;
    background-image: linear-gradient(#161515, #161515);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; }
    .contenedor-header a:hover, .contenedor-header a:focus {
      background-size: 100% 2px;
      color: #161515;
      cursor: pointer; }
  .contenedor-header #logo {
    font-family: "Courgette", cursive;
    font-size: 2rem;
    color: #ffffff; }

/*Fin NAV*/
/*Inicio Banner*/
.contenedor-banner {
  height: 72vh;
  /* Escritorio extra grande */
  /* Escritorio grande */
  /* Escritorio pequeño / tablet */
  /* Tablets */
  /* Teléfonos */ }
  @media only screen and (min-width: 1200px) {
    .contenedor-banner {
      height: 70vh; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contenedor-banner {
      height: 65vh; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor-banner {
      height: 50vh; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor-banner {
      height: 45vh; } }
  @media only screen and (max-width: 575px) {
    .contenedor-banner {
      height: 35vh; } }

/*Fin Banner*/
/*Inicio Main*/
main {
  background-image: url(../img/fondo03.png);
  overflow-x: hidden; }

h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 2% 0 0 0; }

.c-card {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
  background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
  color: black;
  margin-top: 1%;
  margin-bottom: 1%; }
  .c-card:hover {
    transform: translateY(-3px);
    -webkit-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1); }

.btn {
  padding: 4px;
  font-size: 1rem;
  border: 2px solid white;
  background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
  width: 100%; }
  .btn:hover {
    background-color: #a10818; }

/*Fin Main*/
/*Inicio footer*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #9b0b0c;
  padding: 2%;
  color: #ffffff;
  width: 100%;
  font-size: 1.3rem; }
  .footer a {
    text-decoration: none;
    cursor: pointer; }
    .footer a:hoover {
      color: #161515; }
  .footer #logo {
    font-family: "Courgette", cursive; }

/*Fin footer*/
/*Inicio de formulario*/
#form {
  background-color: #ff8979;
  border-radius: 40px;
  color: #161515;
  padding: 5% 2%;
  width: 50%;
  font-size: 1.3rem; }
  #form span {
    color: #9b0b0c;
    padding: 0 5px; }
  #form #btn_form {
    margin-top: 5%;
    width: 100%;
    border-radius: 10px;
    font-size: 1.3rem; }

/*fin de formulario*/
/*Inicio de Nosotros*/
.contenedor-nosotros {
  box-sizing: border-box;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "caja1 caja2" "caja3 caja4" "caja5 caja5";
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2%;
  margin: 0 5%;
  align-items: center; }

.caja1 {
  grid-area: caja1; }

.caja2 {
  grid-area: caja2; }

.caja3 {
  grid-area: caja3; }

.caja4 {
  grid-area: caja4; }

.caja5 {
  grid-area: caja5;
  margin-bottom: 2%; }

.img-n {
  width: 100%;
  height: 80%; }

.contenedor-iframe {
  height: 60%;
  height: auto; }

.btn-s {
  border: 2px solid white;
  background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
  width: 10%;
  border-radius: 50px;
  color: black; }

.suscribite {
  width: 60%; }
