/*Fuente para el sitio web*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/fondo03.png);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  width: 100%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 1% 0;
}

/*HEADER*/
.contenedor-header {
  background-color: #a10818;
  color: white;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
}

#logo {
  font-family: "Courgette", cursive;
  font-size: 2rem;
}

nav ul li a {
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
}

a:link {
  color: #087bdf;
}

/*Banner*/
.contenedor-banner {
  height: 75vh;
}

/*MAIN*/
.c-card:hover {
  transform: translateY(-3px);
  -webkit-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
}

.c-card {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
  background: linear-gradient(90deg,
      rgba(161, 8, 24, 1) 46%,
      rgba(205, 61, 55, 1) 100%);
  color: black;
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn {
  padding: 4px;
  font-size: 1rem;
  border: 2px solid white;
  background: linear-gradient(90deg,
      rgba(161, 8, 24, 1) 46%,
      rgba(205, 61, 55, 1) 100%);
  width: 100%;
}

.btn:hover {
  background-color: #a10818;
}

/*FOOTER*/
.footer {
  background-color: #a10818;
  padding: 2% 1%;
  color: white;
  width: 100%;
  height: auto;
  font-size: 1rem;
  flex-wrap: wrap;
}


/*NOSOTROS*/
.contenedor-nosotros {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja5";
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2%;
  margin: 0 5%;
  align-items: center;
}

.caja1 {
  grid-area: caja1;
}

.caja2 {
  grid-area: caja2;
}

.caja3 {
  grid-area: caja3;
}

.caja4 {
  grid-area: caja4;
}

.caja5 {
  grid-area: caja5;
  margin-bottom: 2%;
}

.img-n {
  width: 100%;
  height: 80%;
}

.contenedor-iframe {
  height: 60%;
  height: auto;
}

.btn-s {
  border: 2px solid white;
  background: linear-gradient(90deg,
      rgba(161, 8, 24, 1) 46%,
      rgba(205, 61, 55, 1) 100%);
  width: 10%;
  border-radius: 50px;
  color: black;
}

.suscribite {
  width: 60%;
}


/*CONTACTO*/
/*
.contenedor-form{
  width: 80%;
  border-radius: 50px;
  color: black;
  padding: 15px;
}
.contenedor-sesion{
  width: 40%;
  background-color: 	hsl(0, 92%, 95%);
  align-items: center;
}
*/
.btn-outline-primary {
  text-align: center;
  width: 200px;
  padding: 5px 0;
  border-radius: 50px;
  background: linear-gradient(90deg,
      rgba(161, 8, 24, 1) 46%,
      rgba(205, 61, 55, 1) 100%);
  color: black;
}

.btn-outline-primary:hover {
  background-color: #a10818;
  color: white;
}
.obligatorio{
  color:#a10818;
}

/*Mobile*/
@media (max-width: 480px) {

  .contenedor-banner {
    height: 25vh;
  }

  .footer {
    display: flex;
    flex-direction: column-reverse;
    padding: 1% 0;
    text-align: center;
    align-items: center;
  }

  #logo {
    font-size: 1.3rem;
  }

  .contenedor-nosotros {
    display: flex;
    flex-direction: column;
  }

  .btn-outline-primary {
    width: 100px;
  }

  .contenedor-nosotros {
    grid-template-columns: 100%;
    grid-template-areas:
      "caja1"
      "caja2"
      "caja3"
      "caja4"
      "caja5";
    gap: 2%;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 30px;
  }

  .suscrbite {
    width: 100%;
  }

  .label-s {
    width: 100%;
  }

  .btn-s {
    width: 60px;
  }
}