@charset "UTF-8";
/*Font Sizes*/
/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
/*PARA TODO*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-image: url(../img/fondo03.png);
  overflow-x: hidden; }

/*Inicio NAV*/
.contenedor-header {
  background-color: #9b0b0c; }
  .contenedor-header #nav {
    color: #ffffff;
    font-size: 1.2rem; }
  .contenedor-header a {
    text-decoration: none;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; }
    .contenedor-header a:hover, .contenedor-header a:focus {
      background-size: 100% 2px;
      color: #161515;
      cursor: pointer; }
  .contenedor-header #logo {
    font-family: "Courgette", cursive;
    font-size: 2rem;
    color: #ffffff; }

/*Fin NAV*/
/*Inicio Banner*/
.contenedor-banner {
  height: 72vh;
  /* Escritorio extra grande */
  /* Escritorio grande */
  /* Escritorio pequeño / tablet */
  /* Tablets */
  /* Teléfonos */ }
  @media only screen and (min-width: 1200px) {
    .contenedor-banner {
      height: 70vh; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .contenedor-banner {
      height: 65vh; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor-banner {
      height: 50vh; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .contenedor-banner {
      height: 45vh; } }
  @media only screen and (max-width: 575px) {
    .contenedor-banner {
      height: 35vh; } }

/*Fin Banner*/
/*Inicio Main*/
h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 2% 0 0 0; }

.c-card {
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.1s ease;
  background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
  color: black;
  margin-top: 1%;
  margin-bottom: 1%; }
  .c-card:hover {
    transform: translateY(-3px);
    -webkit-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 12px -13px 5px 0px rgba(0, 0, 0, 0.1); }

.btn {
  padding: 4px;
  font-size: 1rem;
  border: 2px solid white;
  background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
  width: 100%; }
  .btn:hover {
    background-color: #a10818; }

/*Fin Main*/
/*GRID*/
.contenedor-footer {
  display: grid;
  height: 25vh;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: auto;
  grid-template-areas: "f1 f2 f3";
  align-content: space-around;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #9b0b0c; }
  .contenedor-footer .fa-instagram, .contenedor-footer .fa-facebook {
    color: #ffffff;
    font-size: 1.2rem; }
  .contenedor-footer nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none; }
    .contenedor-footer nav ul li a:hover {
      color: #161515; }
    .contenedor-footer nav ul li a:link {
      color: #ffffff; }
  .contenedor-footer #logo {
    font-family: "Courgette", cursive;
    font-size: 2rem; }

.footer1 {
  grid-area: f1; }

.footer2 {
  grid-area: f2; }
  .footer2 ul {
    list-style: none;
    font-size: 1.1rem; }
    .footer2 ul li a {
      text-decoration: none; }
      .footer2 ul li a:hoover {
        color: #161515; }

.footer3 {
  grid-area: f3; }

/*Mobile*/
@media screen and (max-width: 576px) {
  .contenedor-footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "f1" "f2" "f3";
    align-content: center;
    height: auto;
    justify-items: center;
    justify-content: center;
    text-align: center; }
  #logo {
    font-size: 1.2rem; }
  .fa-instagram, .fa-facebook {
    color: #ffffff;
    font-size: 2rem; } }

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-footer {
    font-size: 1.1rem;
    text-align: justify; } }

/*Fin footer*/
/*Inicio de formulario*/
#form {
  background-color: #ff8979;
  border-radius: 40px;
  color: #161515;
  padding: 5% 2%;
  width: 50%;
  font-size: 1.2rem; }
  #form span {
    color: #9b0b0c;
    padding: 0 5px; }
  #form #btn_form {
    margin-top: 5%;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem; }

/*fin de formulario*/
/*Inicio de Nosotros*/
.contenedor-nosotros {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "caja0 caja0" "caja1 caja2" "caja3 caja4" "caja5 caja5";
  justify-content: space-between;
  align-items: center;
  margin: 0; }

.caja0 {
  grid-area: caja0; }
  .caja0 .slider {
    width: 100vh;
    height: 72vh;
    /* Escritorio pequeño / tablet */
    /* Tablets */
    /* Teléfonos */ }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .caja0 .slider {
        height: 50vh; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .caja0 .slider {
        height: 45vh; } }
    @media only screen and (max-width: 575px) {
      .caja0 .slider {
        height: 35vh; } }

.caja1 {
  grid-area: caja1;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .caja1 #logo {
    font-family: "Courgette", cursive;
    font-size: 2rem; }

.caja2 {
  grid-area: caja2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .caja2 .img-n {
    width: 70%;
    height: 65%;
    object-fit: fill; }

.caja3 {
  grid-area: caja3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1% 0% 0% 5%; }

.caja4 {
  grid-area: caja4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap; }
  .caja4 .btn-s {
    border: 2px solid #ffffff;
    background: linear-gradient(90deg, #a10818 46%, #cd3d37 100%);
    width: 20%;
    border-radius: 50px; }
  .caja4 .suscribite {
    width: 70%; }

.caja5 {
  grid-area: caja5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap; }
  .caja5 .contenedor-iframe {
    height: 50%;
    width: 70%; }
  @media screen and (max-width: 576px) {
    .caja5 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap; }
      .caja5 .contenedor-iframe {
        height: 40;
        width: 90%; } }

/*Mobile*/
@media screen and (max-width: 576px) {
  .contenedor-nosotros {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "caja0" "caja1" "caja2" "caja3" "caja4" "caja5";
    align-content: center;
    height: auto;
    justify-items: center;
    justify-content: center;
    text-align: center; }
  #logo {
    font-size: 1.2rem; } }

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-nosotros {
    font-size: 1.1rem;
    text-align: justify; } }

/*Inicio de Sesión-Registro*/
#form a,
#form span {
  text-decoration: none;
  color: #9b0b0c; }

#form .btn-outline-primary1, #form .btn-outline-primary2 {
  background-color: #097ce0;
  color: #ffffff;
  padding: 1% 2%;
  width: 100%;
  text-align: center;
  border-radius: 10px 0px 0px 10px; }

#form .btn-outline-primary2 {
  border-radius: 0px 10px 10px 0px;
  justify-content: center;
  padding: 11px 0 0px 0; }

/*Fin de Sesión*/
