/*Inicio de formulario*/
    #form{
        background-color:$color5;
        border-radius: 40px;
        color: $c_negro;
        padding: 5% 2%;
        width:50%;
        font-size: $m;
        span{
            color:$color1;
            padding: 0 5px;
        }
        #btn_form{
            margin-top:5%;
            width: 100%;
            border-radius: 10px;
            font-size: $m;
        }
    }
/*fin de formulario*/

