/*Inicio de Nosotros*/
.contenedor-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "caja0 caja0"
        "caja1 caja2"
        "caja3 caja4"
        "caja5 caja5";
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.caja0 {
    grid-area: caja0;
    .slider{
        width: 100vh;
        height: 72vh;
    
        /* Escritorio pequeño / tablet */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
            height: 50vh;
        }
    
        /* Tablets */
        @media only screen and (min-width: 576px) and (max-width: 767px) {
            height: 45vh;
        }
    
        /* Teléfonos */
        @media only screen and (max-width: 575px) {
            height: 35vh;
        }
}
}
.caja1 {
    grid-area: caja1;
    margin: 1%;
    padding: 1%;
    #logo {
        font-family: $f_logo;
        font-size: $l;
    }
    @include d_flex(column, space-between, center, nowrap);
}

.caja2 {
    grid-area: caja2;
    @include d_flex(row, space-around, center, nowrap);
    .img-n {
        width: 70%;
        height: 65%;
        object-fit: fill;
    }
}

.caja3 {
    grid-area: caja3;
    @include d_flex(column, space-around, center, wrap);
    padding: 1% 0% 0% 5%;
}

.caja4 {
    grid-area: caja4;
    @include d_flex(column, flex-end, center, nowrap);

    .btn-s {
        border: 2px solid $c_blanco;
        background: $color6;
        width: 20%;
        border-radius: 50px;
    }
    .suscribite {
        width: 70%;
    }
}
.caja5 {
    grid-area: caja5;
    @include d_flex(row, space-around, center, nowrap);
    .contenedor-iframe {
        height: 50%;
        width: 70%;
    }
    @media screen and (max-width: 576px) {
        @include d_flex(column, space-around, center, wrap);
        .contenedor-iframe {
            height: 40;
            width: 90%;
        }
    }
}

/*Mobile*/
@media screen and (max-width: 576px) {
    .contenedor-nosotros{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "caja0"
            "caja1"
            "caja2"
            "caja3"
            "caja4"
            "caja5";
        align-content: center;
        height: auto;
        justify-items: center;
        justify-content: center;
        text-align: center;
    }
    #logo{
        font-size: $m;
    }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .contenedor-nosotros{
        font-size: $s;
        text-align: justify;
    }
}