/*Inicio de Nosotros*/
.contenedor-nosotros {
    box-sizing: border-box;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "caja1 caja2""caja3 caja4""caja5 caja5";
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
    margin: 0 5%;
    align-items: center;
}

.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}

.caja3 {
    grid-area: caja3;
}

.caja4 {
    grid-area: caja4;
}

.caja5 {
    grid-area: caja5;
    margin-bottom: 2%;
}

.img-n {
    width: 100%;
    height: 80%;
}

.contenedor-iframe {
    height: 60%;
    height: auto;
}

.btn-s {
    border: 2px solid white;
    background: linear-gradient(90deg, rgba(161, 8, 24, 1) 46%, rgba(205, 61, 55, 1) 100%);
    width: 10%;
    border-radius: 50px;
    color: black;
}

.suscribite {
    width: 60%;
}