/*Inicio de Sesión-Registro*/
#form {
    a,
    span {
        text-decoration: none;
        color: $color1;
    }
    .btn-outline-primary1{
        background-color: $color2;
        color:$c_blanco;
        padding: 1% 2%;
        width: 100%;
        text-align: center;
        border-radius: 10px 0px 0px 10px;  
    }
    .btn-outline-primary2{
        @extend .btn-outline-primary1;
        border-radius: 0px 10px 10px 0px;
        justify-content:center;
        padding: 11px 0 0px 0;
    }
}



/*Fin de Sesión*/